In [1]:
import pandas as pd

### 1. Get Shao Pei samples from the big OTU table

In [1]:
%%bash
cut -f17 ../48MZ_Virome_Sample_Information.csv | tail -n +2 > samplesSequencingSpecificName.txt
filter_samples_from_otu_table.py -i TwinsUK_Batch3_OTU_table_w_tax.biom -o filtered_otu_table.biom --sample_id_fp samplesSequencingSpecificName.txt
biom convert -i filtered_otu_table.biom -o TwinsUK_DisCon.csv --to-tsv --header-key taxonomy
tail -n +2 TwinsUK_DisCon.csv > TwinsUK_DisCon.csv.mod
mv TwinsUK_DisCon.csv.mod TwinsUK_DisCon.csv

In [26]:
mapping = pd.read_csv("../48MZ_Virome_Sample_Information.csv",sep='\t',header=0)
newLabels = dict(zip(mapping["SequencingSpecificName"],mapping["Sample_ID"]))
mapping.head()

,Sample_ID,Manuscript_ID,Ebi_ID,BarcodeSequence,LinkerPrimerSequence,MZ_virome_ID,barcode,Con_Dis,distance_w,distance_uw,...,TwinID,Julia_ManuscriptFID,Julia_ManuscriptID,zygosity,SequencingRun,SampleNumseqs_ref97_gg_8_13_qiime_1_8,SampleNumseqs_open_ref_qiime_1_8,Loadedby,Extractedby,Description
0,Ab1,16A,31,NaN,NaN,Ab1,1006105,Discordant,"0,635967335","0,596757857",...,A512,51,512,MZ,TwinsUKPlate16,147514,154089,Jess,Jess,5S_PF_SeqPrepMerged_tagcleaned_sickled_Ab1_mat...
1,Ab2,16B,32,NaN,NaN,Ab2,1006106,Discordant,"0,635967335","0,596757857",...,A511,51,511,MZ,TwinsUKPlate16,210319,223898,Jess,Jess,5S_PF_SeqPrepMerged_tagcleaned_sickled_Ab2_mat...
2,B1,18A,35,NaN,NaN,B1,1003166,Discordant,"0,609760222","0,627876227",...,A421,42,421,MZ,TwinsUKPlate14,62289,63830,Jess,Jess,5S_PF_SeqPrepMerged_tagcleaned_sickled_B1_matc...
3,B2,18B,36,NaN,NaN,B2,1003168,Discordant,"0,609760222","0,627876227",...,A422,42,422,MZ,TwinsUKPlate14,79507,83148,Jess,Jess,5S_PF_SeqPrepMerged_tagcleaned_sickled_B2_matc...
4,C1,2A,3,NaN,NaN,C1,1003204,Concordant,"0,215692175","0,461912816",...,A1032,103,1032,MZ,TwinsUKPlate14,56361,60685,Jess,Jess,5S_PF_SeqPrepMerged_tagcleaned_sickled_C1_matc...

In [29]:
abundanceMatrix = pd.read_csv("TwinsUK_DisCon.csv",sep="\t")
taxonomy = dict(zip(abundanceMatrix["#OTU ID"],abundanceMatrix["taxonomy"]))
abundanceMatrix.set_index(["#OTU ID"],inplace=True)
del abundanceMatrix["taxonomy"]
abundanceMatrix.rename(columns=newLabels,inplace=True)
abundanceMatrix.head()

,C2,B2,B1,C1,E2,Da1,Ab2,E1,Da2,Ab1,...,K2,K1,Q1,H1,Q2,S1,S2,T2,T1,F2
#OTU ID,,,,,,,,,,,,,,,,,,,,,
188753,17.0,4.0,0.0,2.0,2.0,4.0,5.0,0.0,11.0,8.0,...,6.0,4.0,0.0,2.0,2.0,6.0,3.0,11.0,2.0,6.0
4474844,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
189592,1.0,1.0,5.0,1.0,0.0,5.0,11.0,5.0,0.0,0.0,...,2.0,3.0,15.0,0.0,0.0,13.0,11.0,0.0,1.0,38.0
183855,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4465907,18.0,1.0,3.0,6.0,0.0,4.0,12.0,4.0,2.0,4.0,...,2.0,0.0,12.0,0.0,8.0,0.0,0.0,25.0,9.0,14.0

In [2]:
abundanceMatrix.to_csv("matrix.bacteriaOTUs.csv",sep="\t",header=True,index=True)

NameError: name 'abundanceMatrix' is not defined

In [3]:
%%bash
#perl ../../code/ToTranspose.awk TwinsUK_Batch3_OTU_table_w_tax.csv > TwinsUK_Batch3_OTU_table_w_tax.transposed.csv
Rscript ../../code/alphaBetaDiversity.R matrix.bacteriaOTUs.csv

[1] "/ebio/abt3_projects/TwinsUK_viromes_Shao_Pei/tmp/9_DiversityBacteria"

Loading required package: permute
Loading required package: lattice
This is vegan 2.3-4